body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 1rem;
}

#multiplication__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 90vh;
}

input {
    display: block
}